.header-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header {
  padding: 0.9375rem 0;
  background-color: #ffffff;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  line-height: 1;
}

.menu {
  color: #000000;
  font-size: 0.660rem;
  letter-spacing: 0.1rem;
  border: 0;
  background-color: transparent;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0.0625rem;
}

button:focus {
  color: #ea3232;
  outline: none;
}

button:hover {
  color: #ea3232;
}

a {
  color: #000000;
  font-family: 'Lato', sans-serif;
  outline: none;
}

h1 {
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

a:focus {
  color: #d3d3d3;
  outline: none;
}

a:hover {
  color: #d3d3d3;
  text-decoration: none;
}