@media only screen and (min-width: 48em) {
  .footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

.footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.footer {
  padding: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 2.5rem;
}

.social {
  margin: 0 0.625rem 1.875rem;
}

.social {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.875rem;
  width: 100%;
}

.social-links {
  display: -webkit-flex;
  display: flex;
  margin: 0 0.625rem;
}

.social-links:focus, .links:focus {
  color: #ea3232;
  outline: none;
}

.social-links:hover, .links:hover {
  color: #ea3232;
}

.footer-nav {
  width: 100%;
}

.nav-links-list {
  -webkit-flex-directtion: row;
  flex-direction: row;
  font-size: 0.650rem;
}

.nav-links-list {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-top: 0.0625rem solid #000000;
  list-style-type: none;
  margin: 0;
  padding: 1.875rem 0 1.25rem;
  font-size: 0.660rem;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.1rem;
}

.nav-links {
  margin-bottom: 0;
  margin-right: 0.9375rem;
}

.copyright {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 0.6rem;
  width: 100%;
}