@media only screen and (min-width: 48em) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer {
  padding: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 2.5rem;
}

@media only screen and (min-width: 48em) {
  .social {
    margin: 0 0.625rem 1.875rem;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.social-links {
  display: flex;
  margin: 0 0.625rem;
}

i { 
  height: 1rem;
  width: auto;
}

.social-links:focus, .links:focus {
  color: #ea3232;
  outline: none;
}

.social-links:hover, .links:hover {
  color: #ea3232;
}

.footer-nav {
  width: 100%;
}

@media only screen and (min-width:48em) {
  .nav-links-list {
    flex-direction: row;
    font-size: 0.650;
  }
}

.nav-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.0625rem solid #000000;
  list-style-type: none;
  margin: 0;
  padding: 1.875rem 0 1.25rem;
  font-size: 0.660rem;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.1rem;
}

.nav-links {
  margin-bottom: 0;
  margin-right: 0.9375rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.6rem;
  width: 100%;
}