.footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.footer {
  padding: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 2.5rem;
}

.copyright {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 0.6rem;
  width: 100%;
}